extends layout

block styles
    link(rel='stylesheet',type='text/css',href='../thirdParty/syntaxHighlighter/styles/shCoreEmacs.css')

    block sample-styles

block scripts
    //if lt IE 8
        script(type='text/javascript',src='../thirdParty/json3.min.js')

    script(type='text/javascript',src='../thirdParty/jquery-1.9.1.min.js')
    script(type='text/javascript',src='../thirdParty/bootstrap/js/bootstrap.min.js')

    //if lte IE 6
        script(type='text/javascript',src='../thirdParty/bootstrap/js/ie6.js')

    script(type='text/javascript',src='../thirdParty/knockout-2.2.1.js')


    // valerie - en-gb
    script(type='text/javascript',src='../latest/code/valerie-en-gb.min.js')

    // syntax highlighter
    script(type='text/javascript',src='../thirdParty/syntaxHighlighter/scripts/shCore.js')
    script(type='text/javascript',src='../thirdParty/syntaxHighlighter/scripts/shBrushJScript.js')
    script(type='text/javascript',src='../thirdParty/syntaxHighlighter/scripts/shBrushXml.js')

    // samples
    script(type='text/javascript',src='samples.js')

    // sample script
    div#sample-script
        block sample-script

block content
    div.introduction
        block sample-introduction

    div.tabbable
        ul.nav.nav-tabs
            li.active
                a(href='#sample-live',data-toggle='tab') Live
            li
                a(href='#sample-live-model',data-toggle='tab') Live Model
            li
                a(href='#sample-html',data-toggle='tab') HTML
            li
                a(href='#sample-script-pane',data-toggle='tab') Javascript

        div.tab-content
            div.tab-pane.active#sample-live
                block sample-live

            div.tab-pane#sample-live-model
                pre(data-bind='text: JSON.stringify(ko.toJS($data), null, 2)')

            div.tab-pane#sample-html
                pre(class='.brush: xml')
                | <script type="text/html">
                block sample-html
                | </script>

            div.tab-pane#sample-script-pane
                pre(class='.brush: js')